
# Carpetas de compilación
bin/
obj/

# Archivos de configuración y caché de Visual Studio
*.suo
*.user
.vs/
.vspscc
*.vssscc

# Paquetes y dependencias
packages/
*.nupkg

# Archivos de log
*.log

# Archivos de Visual Studio que ya están en las carpetas del proyecto
# Esto es para evitar que se suban si estuvieran sueltos
# Nota: La mejor practica es mover todos estos archivos a la carpeta principal del proyecto
*.user
*.pdb
*.psess
*.vsp
*.trx
*.vspscc
*.vssscc
*.tmp
*.vspscc
*.vssscc
*.resharper
*.bak
*.orig

